body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.media-header{
  display: flex;

}.media-avatar{
   width: 48px;
   height: 48px;
   margin-right: 20px;
 }

.media-img{
  width: 30px;
  height: 15px;
}
.media-body-img{
  width: 100%;
}
/*.media-bodyer{*/
  /*display: none;*/
/*}*/